
.dialog-receipt .table-header.receipt{
    justify-content: left;
}

.receipt-log{
    width: 50vw;
    padding: 1vw;
    max-height: 45vh;
    overflow: auto;
}

.receipt-info > *{
    margin-bottom: 10px;
}

.receipt-row{
    padding-bottom: 10px;
    border-bottom: 1px solid #495057;
}

@media only screen and (max-width: 768px){
    .receipt-log{
        width: 80vw;
    }
}